.input {
  height: 40px;
  padding: 10px;
  background-color: #041c32;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
input {
  width: 100%;
  border: none;
  outline: none;
  color: #fff2d7;
  font-size: 15px;
  background-color: transparent;
}
input::placeholder {
  color: #d3c5e5;
}
.sendseatures {
  display: flex;
  align-items: center;
}

.sendseatures > button {
  height: calc(40px + 20px);
  right: -10px;
  background-color: transparent;
  box-shadow: none;
  width: 10px;
}
.sendseatures > button:hover {
  background-color: hsl(219, 48%, 8%);
}
.sendseatures > button > svg {
  color: #fb6542;
}
